<div class="row p-3">
  <geoapify-geocoder-autocomplete (placeSelect)="placeSelected($event)"></geoapify-geocoder-autocomplete>
</div>

<div class="mr-5">
    <h2>Weather Details</h2>

    <div class="row px-3">
      <p class="light-text">Cloudy</p>
      <p class="ml-auto">12%</p>
    </div>

    <div class="row px-3">
      <p class="light-text">Humidity</p>
      <p class="ml-auto">78%</p>
    </div>

    <div class="row px-3">
      <p class="light-text">Wind</p>
      <p class="ml-auto">1km/h</p>
    </div>

    <div class="row px-3">
      <p class="light-text">Rain</p>
      <p class="ml-auto">0mm</p>
    </div>
</div>
