body {
  color: #fff;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(#81D4FA, #2196F3);
  background-repeat: no-repeat;
}

.card0 {
  width: 94%;
}

.card1 {
  background-image: linear-gradient(#2196F3, #81D4FA);
  padding: 30px 20px 30px 50px;
}

.image {
  width: 300px;
  height: 300px;
}

.card2 {
  background-color: #607D8B;
  padding: 0px 0px 40px 40px;
}
