<div class="my-5">
  <div class="row">
    <geoapify-geocoder-autocomplete (placeSelect)="onPlaceSelected($event)"></geoapify-geocoder-autocomplete>
  </div>

  <div class="row mt-3">
    <h3>Weather Details</h3>

    <div class="row px-3">
      <div class="col-md-6">
        <h5 class="light-text">Temperature</h5>
        <p class="ml-auto">{{weather?.temp}} ºC</p>
      </div>

      <div class="col-md-6">
        <h5 class="light-text">Humidity</h5>
        <p class="ml-auto">{{weather?.humidity}}</p>
      </div>
    </div>

    <div class="row px-3">
      <div class="col-md-6">
        <h5 class="light-text">Dew point</h5>
        <p class="ml-auto">{{weather?.dewPoint}}</p>
      </div>

      <div class="col-md-6">
        <h5 class="light-text">Visibility</h5>
        <p class="ml-auto">{{weather?.visibility}} metros</p>
      </div>
    </div>
  </div>
</div>
