<div class="row">
  <geoapify-geocoder-autocomplete (placeSelect)="onPlaceSelected($event)"></geoapify-geocoder-autocomplete>
</div>

<div class="row mt-4">
  <h3>Weather Details</h3>

  <div class="row px-3">
    <div class="col-6">
      <h5 class="light-text">Temperature</h5>
      <p class="ml-auto">{{weather?.temp}} ºC</p>
    </div>

    <div class="col-6">
      <h5 class="light-text">Humidity</h5>
      <p class="ml-auto">{{weather?.humidity}}</p>
    </div>

    <div class="col-6">
      <h5 class="light-text">Dew point</h5>
      <p class="ml-auto">{{weather?.dewPoint}}</p>
    </div>

    <div class="col-6">
      <h5 class="light-text">Visibility</h5>
      <p class="ml-auto">{{weather?.visibility}} metros</p>
    </div>
  </div>
</div>

<div class="row mt-5">
  <h3>Weather Forecast</h3>

  <div class="row">
    <div *ngFor="let forecast of weatherForecast" class="col-6 text-center">
      <img *ngIf="forecast?.icon != null" src="https://openweathermap.org/img/wn/{{forecast?.icon}}@2x.png"/>

      <div>
        <span>{{ forecast?.temp }} ºC</span>
        <span> - </span>
        <span>{{ forecast?.date | date: 'mediumDate' }}</span>
      </div>
    </div>
  </div>
</div>
